# Module 4 Peer Graded Assignment

### Introduction: This is my module 4 assignment.

**Ojectives:**
* To identify data science tools and languages
* To input code and get an output
* To practice coding

***
Some data science languages are:
* Python
* R
* SQL
* JavaScript

***
Some data science libraries are:
* Pandas
* NumPy
* Seaborn
* Keras

***
|Data Management|Data Visualization|Code Asset Management|Data Asset Management|
|:-------:|:-------:|:-------:|:-------:|
|MySQL|Hue|GitHub|ApacheAtlas|
|Cassandra|Kibana|GitLab|Egeria|

***
### Below you will see arithmetic expression examples

In [1]:
(1+1)*13

26

This will convert 200 minutes into hours:

In [3]:
200/60

3.3333333333333335

***
## Author
Izzy Timms